<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a first-year master student in Civil and Environmental Engineering at
      <a class="underline-link" href="https://www.stanford.edu//" target="_blank">Stanford University</a> advised by Professor
      <a class="underline-link" href="https://profiles.stanford.edu/ram-rajagopal" target="_blank">Ram Rajagopal</a>. Before coming to Stanford, I obtained my B.Eng. degree from 
      <a class="underline-link" href="https://www.scut.edu.cn/en/" target="_blank">South China University of Technology</a> major in Urban Planning and minor in Computer Science.
    </p>

    <p>
      My research focuses on developing <strong>machine learning</strong> algorithms for <strong>large-scale geospatial data</strong>, including 
      graph representation learning &amp; graph neural network architectures, and applying these techniques in urban systems to tackle challenges in cities.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm a movie fan and I mostly enjoy music as my secondary life. 
      Fun fact: I've been playing the violin since 6 :P
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
