<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="http://web.stanford.edu/class/cs224w/project/26422233.pdf" target="_blank">
          <img src="{{site.baseurl}}/img/featured/cs224w.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://web.stanford.edu/class/cs224w/project/26422233.pdf" target="_blank">CS224W</a>
        </div>
        <p><strong>Predicting Group Success in Meetup with Graphs</strong>. CS224W: Machine Learning with Graphs final project with <a href="https://www.linkedin.com/in/yiyunliang/" target="_blank">Isa Liang</a> and <a href="https://onionhoney.github.io/" target="_blank">Zhouheng Sun</a>.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://dl.acm.org/doi/10.1145/3347146.3363464" target="_blank">
          <img src="{{site.baseurl}}/img/featured/sigspatial2019.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://dl.acm.org/doi/10.1145/3347146.3363464" target="_blank">ACM SIGSPATIAL 2019</a>
        </div>
        <p><strong>Discovering Human Activity Community in A City</strong>. Won the First Place in Student Research Competition (Undergraduate Category).</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://issuu.com/frankhuang8/docs/_1-converted" target="_blank">
          <img src="{{site.baseurl}}/img/featured/urbandesign.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://issuu.com/frankhuang8/docs/_1-converted" target="_blank">Airport City Design</a>
        </div>
        <p>Urban Design Studio. Chose the Border of Hong Kong and mainland China as the design site and won the second prize in the national competition. With <strong>Sixuan Chen</strong>.</p>
      </figcaption>
    </div>
  </div>
</section>
